import "bootstrap"; import "bootstrap/dist/css/bootstrap.min.css";

<template>
  <div>
    <div
      class="products-container"
      v-for="(category, index) in dicAux"
      :key="index"
    >
      <h2 id="category_name">{{ index }}</h2>
      <div class="row row-cols-2 row-cols-lg-6 show_Products">
        <div class="producto" v-for="(product, index) in category" :key="index">
          <img id="img_product" v-bind:src="product.product_image" alt="Sample 2" />
          <h4>{{ product.product_name }}</h4>
          <div class="price">
            <h6>$ {{ product.price }}</h6>
            <button v-on:click="buy"><b>Comprar</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data: function () {
    return {
      array: [
        "../assets/led.jpg",
        "../assets/led.jpg",
        "../assets/led.jpg",
        "../assets/led.jpg",
      ],
      categories: [],
      products: [],
      productsPerCategory: [],
      dicAux: {},
    };
  },
  computed: {
    isCategory: function (id_categoria) {
      return this.products.filter(function (product, id_categoria) {
        return product.product.id_category === id_categoria;
      });
    },
  },
  methods: {
    listCategories: function () {
      let url = "https://on-line-shop-p52-g3.herokuapp.com/categories/";
      let config = { headers: {} };
      axios
        .get(url, config)
        .then((result) => {
          this.categories = result.data;
          //let dicAux = {};

          for (var i in this.categories) {
            let vecAux = [];
            //console.log(this.categories[i].id_category)
            //console.log(this.products[i].id_category)
            for (var j in this.products) {
              if (
                this.products[j].id_category === this.categories[i].id_category
              ) {
                //vecAux.push({this.products[j]})
                vecAux.push(this.products[j]);
                //vecAux[this.products[j].product_name] = this.product[j];
                console.log(typeof this.products[j]);
              }
              this.dicAux[this.categories[i].category_name] = vecAux;
            }
            //this.productsPerCategory[this.categories[i].category_name] = vecAux;
            this.productsPerCategory.push(vecAux);
          }
          //console.log(dicAux);
          //this.productsPerCategory = dicAux;
          console.log("h");
          console.log(this.products);
          console.log("h");
          console.log(this.productsPerCategory);
          console.log("h");
          console.log(this.dicAux);
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    listProducts: function () {
      let url = "https://on-line-shop-p52-g3.herokuapp.com/products/";
      let config = { headers: {} };
      axios
        .get(url, config)
        .then((result) => {
          //console.log(result);
          this.products = result.data;
          this.listCategories();
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    buy: function () {
      alert("Proximamente!!!");
    },
  },
  created: function () {
    this.listProducts();

    //this.productsCategory();
  },
};
</script>

<style >
.products-container {
  margin: 11px;
}
.productopercate {
  display: flex;
}
#category_name {
  color: #fff;
  padding: 20px;
  width: 100%;
  padding-bottom: 7px;
  box-shadow: 0px 7px 7px rgb(239 127 15);
  font-size: 35px;
}
#img_product {
  width: 100px;
  height: 100px;
}
.price {
  display: flex;
  align-items: baseline;
}
.producto button {
  border: none;
  background-color: #ff9700;
  border-radius: 7px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 15px;
}
.producto {
  padding: 13px;
  padding-right: 3px;
  margin: 7px;
  margin-left: 15px;
  min-width: 170px;
  border: 3px dotted #fdfdfd;
  border-radius: 10px;
  background-color: #002b36;
}

.producto:hover {
  box-shadow: 10px 10px 15px rgb(0 0 0);
}

.producto h4 {
  color: #00a7d1;
}
.producto h6 {
  color: #ff9700;
}
.show_Products {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
</style>