<template>
  <div class="login_user">
    <div class="promotions">
      <Splide :options="{ rewind: true }">
        <SplideSlide>
          <img id="img_promotion" src="../assets/1.png" alt="Sample 1" />
        </SplideSlide>
        <SplideSlide>
          <img id="img_promotion" src="../assets/2.png" alt="Sample 2" />
        </SplideSlide>
        <SplideSlide>
          <img id="img_promotion" src="../assets/3.png" alt="Sample 2" />
        </SplideSlide>
      </Splide>
    </div>

    <div class="conteiner_login_user">
      <div>
        <h2 id="inisesion">Iniciar sesión</h2>
        <form v-on:submit.prevent="logInUser">
          <input
            id="form_login"
            v-model="user.username"
            type="text"
            placeholder="Usuario"
          />
          <br />
          <input
            id="form_login"
            v-model="user.password"
            type="password"
            placeholder="Contraseña"
          />
          <br />
          <p id="error_message" v-if="failed">
            Usuario o contraseña incorrecta
          </p>
          <button type="submit" class="btn btn-outline-light" id="button_login">
            Ingresar
          </button>
        </form>
      </div>
      <div class="accountnot">
        <h3>¿No tienes Cuenta?</h3>
        <button v-on:click="register" id="registration_button">
          <u>Registrate</u>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { Splide, SplideSlide } from "@splidejs/vue-splide";
import { defineComponent } from "vue";
import "@splidejs/splide/dist/css/themes/splide-default.min.css";

export default defineComponent({
  components: { Splide, SplideSlide },

  name: "LogIn",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
      },
      failed: false,
    };
  },
  methods: {
    logInUser: function () {
      console.log(this.user);
      let url = "https://on-line-shop-p52-g3.herokuapp.com/rest-auth/login/";
      let body = this.user;
      let config = { headers: {} };
      axios
        .post(url, body, config)
        .then((result) => {
          console.log(result);
          this.failed = false;
          this.$emit("completedLogIn", result);
        })
        .catch((error) => {
          if (error.response.status == 400) {
            alert("Contraseña incorrecta");
            this.failed = true;
          } else {
            alert("Error inesperado");
          }
        });
    },
    register: function () {
      this.$emit("loadSignUp");
    },
  },
  created: function () {},
});
</script>

<style>
body {
  background: #184652;
}
#registration_button {
  border: none;
  background: transparent;
  color: #ff9700;
}
#img_promotion {
  width: 100%;
  height: 100%;
}

.login_user {
  display: flex;
  justify-content: space-around;
}

.conteiner_login_user {
  border: 1px solid #ffffff;
  border-radius: 4px;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #002b36;
}
.accountnot {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountnot h3 {
  font-size: 15px;
  color: #65e7e7;
}

#inisesion {
  color: rgb(255, 255, 255);
}

#form_login {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}

#button_login {
  margin-top: 15px;
  width: 100%;
}

#error_message {
  font-family: sans-serif;
  font-size: 13px;
  color: #ff9700;
}

.promotions {
  width: 60%;
  height: 70%;

  margin-top: 60px;
  margin-left: 20px;
  margin-right: 0px;
}
</style>