<template>
  <div class="singUp_user">
    <div class="conteiner_signup_user">
      <div class="info">
        <h2 id="inisesion">Registrate</h2>

        <form>
          <input
            id="form_login"
            v-model="user2.name"
            type="text"
            placeholder="Nombre"
          />
          <br />
          <input
            id="form_login"
            v-model="user2.last_name"
            type="text"
            placeholder="Apellido"
          />
          <br />
          <h6>DNI</h6>
          <div class="dni">
            <select
              class="form-select select_dni"
              aria-label="Default select example"
              v-model="user2.DNI_type"
            >
              <option value="CC" selected>CC</option>
              <option value="CE">CE</option>
              <option value="PP">PP</option>
            </select>
            <input
              id="form_login"
              v-model="user2.DNI_number"
              type="text"
              placeholder="Número"
            />
          </div>

          <input
            id="form_login"
            v-model="user2.address"
            type="text"
            placeholder="Residencia"
          />
          <br />
          <input
            id="form_login"
            v-model="user2.phone_number"
            type="text"
            placeholder="Celular"
          />
          <br />
          <div class="date">
            <h6>Fecha de nacimiento</h6>
            <input
              v-model="user2.birthdate"
              class="form-control"
              type="date"
              placeholder="Ingrese su fecha de nacimiento"
            />
          </div>
        </form>
      </div>
      <div class="userandpassword">
        <form v-on:submit.prevent="signUpUser">
          <input
            id="form_login"
            v-model="user.username"
            type="text"
            placeholder="Usuario"
          />
          <br />
          <input
            id="form_login"
            v-model="user2.email"
            type="text"
            placeholder="Email"
          />
          <br />
          <input
            id="form_login"
            v-model="user.password1"
            type="password"
            placeholder="Contraseña"
          />
          <br />
          <input
            id="form_login"
            v-model="user.password2"
            type="password"
            placeholder="Confirmar contraseña"
          />
          <br />
          <p id="error_message" v-if="failed">Error</p>
          <button type="submit" class="btn btn-outline-light" id="button_login">
            Registrar
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { Splide, SplideSlide } from "@splidejs/vue-splide";
import { defineComponent } from "vue";
import "@splidejs/splide/dist/css/themes/splide-default.min.css";

export default defineComponent({
  components: { Splide, SplideSlide },

  name: "LogIn",

  data: function () {
    return {
      user: {
        username: "",
        password1: "",
        password2: "",
      },
      user2: {
        email: "",
        name: "",
        last_name: "",
        DNI_type: "",
        DNI_number: "",
        address: "",
        phone_number: "",
        birthdate: "",
        id_user_default: 0,
        role: "US",
        avatar: null,
        is_active: true,
      },
      failed: false,
      incorrect_password: false,
    };
  },
  methods: {
    getId_default: function (k) {
      //console.log(this.user)
      //console.log(this.user2)
      let url = "https://on-line-shop-p52-g3.herokuapp.com/info/";
      let token = k;
      let config = { headers: { Authorization: "Token " + token } };
      axios
        .get(url, config)
        .then((result) => {
          console.log(result.data["id"]);
          this.user2["id_user_default"] = result.data["id"];
          console.log(this.user2);
          this.registerUser2();
          //localStorage.setItem("id_user2", result.data["id"]);
        })
        .catch((error) => {
          this.failed = true;
          console.log(error.response);
        });
    },
    registerUser2: function () {
      let url = "https://on-line-shop-p52-g3.herokuapp.com/users/";
      let body = this.user2;
      let config = { headers: {} };
      axios
        .post(url, body, config)
        .then((result) => {
          this.failed = false;
          console.log(result.data);
          alert("Registrado con exito");
          this.$emit("completedSignUp", result);
        })
        .catch((error) => {
          this.failed = true;
          console.log(error.response);
          alert("Error inesperado");
        });
    },
    signUpUser: function () {
      //console.log(this.user);
      let url =
        "https://on-line-shop-p52-g3.herokuapp.com/rest-auth/registration/";
      let body = this.user;
      let config = { headers: {} };
      let k = "";
      axios
        .post(url, body, config)
        .then((result) => {
          k = result.data["key"];
          console.log(k);
          this.getId_default(k);
        })
        .catch((error) => {
          this.failed = true;
          console.log(error.response);
          alert("Error inesperado");
        });
    },

    register: function () {
      this.$emit("loadSignUp");
    },
  },
  created: function () {},
});
</script>

<style>
body {
  background: #184652;
}
.select_dni {
  width: 50px;
  margin: 10px;
}

.datebirthday {
  color: #ffffff;
}
.date {
  width: 100%;
}
.userandpassword {
  margin-left: 20px;
}
.info h6 {
  color: #ffffff;
}
.info {
  width: 30%;
  margin-right: 20px;
}
.dni {
  display: flex;
  align-items: baseline;
}
#img_promotion {
  width: 100%;
  height: 100%;
}

.login_user {
  display: flex;
  justify-content: space-around;
}

.accountnot {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountnot h3 {
  font-size: 15px;
  color: #21c5c5;
}

#inisesion {
  color: rgb(255, 255, 255);
}

#form_login {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
  border-radius: 7px;
}

#tipo_dni {
  border: 1px solid #283747;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin-right: 5px;
}

#button_login {
  margin-top: 15px;
  width: 100%;
}

#error_message {
  font-family: sans-serif;
  font-size: 13px;
  color: #ff9700;
}

.conteiner_signup_user {
  border: 1px solid #ffffff;
  border-radius: 4px;
  min-width: 400px;

  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 300px;
  margin-right: 300px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #002b36;
}
</style>