import "bootstrap"; import "bootstrap/dist/css/bootstrap.min.css";

<template>
  <div class="detail_container">
    <div class="card">
      <div class="card-body row">
        <h3 class="card-title detail-title">Detalle Usuario</h3>
        <br />
        <br />
        <div class="col">
          <h5 class="card-title">Informaci&oacuten Personal</h5>
          <div class="row">
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >Nombre(s)</label
              >
              <input
                v-model="users.name"
                class="form-control"
                type="text"
                placeholder="Digite su(s) nombre(s)"
              />
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >Apellidos</label
              >
              <input
                v-model="users.last_name"
                class="form-control"
                type="text"
                placeholder="Digite sus apellidos"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >N&uacutemero de DNI</label
              >
              <div class="row">
                <div class="col-5">
                  <input
                    v-model="users.DNI_type"
                    class="form-control"
                    type="text"
                    placeholder=""
                    disabled
                  />
                </div>
                <div class="col-7">
                  <input
                    v-model="users.DNI_number"
                    class="form-control"
                    type="text"
                    placeholder="Documento de Identificación"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >Email</label
              >
              <input
                v-model="users.email"
                class="form-control"
                type="email"
                placeholder="name@example.com"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >Direcci&oacuten Residencia</label
              >
              <input
                v-model="users.address"
                class="form-control"
                type="text"
                placeholder="Ejemplo: Cra 25a # 9-12"
              />
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >Fecha Nacimiento</label
              >
              <input
                v-model="users.birthdate"
                class="form-control"
                type="date"
                placeholder="Ingrese su fecha de nacimiento"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label"
                >Tel&eacutefono</label
              >
              <input
                id="telefono"
                v-model="users.phone_number"
                class="form-control"
                type="number"
                placeholder="Ejemplo: 3264859720"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-primary"
                v-on:click="updateUser"
              >
                Guardar Cambios
              </button>
              <button
                type="button"
                class="btn btn-danger"
                v-on:click="deleteUser"
              >
                Eliminar Perfil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "UserDetail",
  data: function () {
    return {
      users: [],
    };
  },
  methods: {
    updateUser: function () {
      let id = localStorage.getItem("id");
      let body = this.users;
      let url = "https://on-line-shop-p52-g3.herokuapp.com/users/" + id + "/";
      let config = { headers: {} };
      axios
        .put(url, body, config)
        .then((result) => {
          this.users = result.data;
          alert("Usuario modificado");
        })
        .catch((error) => {
          alert("Error inesperado.");
        });
    },

    deleteUser: function () {
      let id = localStorage.getItem("id");
      let url = "https://on-line-shop-p52-g3.herokuapp.com/users/" + id + "/";
      let config = { headers: {} };
      axios
        .delete(url, config)
        .then((result) => {
          alert("Usuario eliminado");
          this.$emit("completedelete");
          //this.$router.push({ name: "users" });
          //this.users = result.data;
        })
        .catch((error) => {
          alert("Error inesperado, intente de nuevo mas tarde.");
        });
    },
    loadUsers: function () {
      this.$router.push({ name: "users" });
    },
    listUsers: function () {
      let id = localStorage.getItem("id");
      let url = "https://on-line-shop-p52-g3.herokuapp.com/users/" + id + "/";
      let config = { headers: {} };
      axios
        .get(url, config)
        .then((result) => {
          this.users = result.data;
        })
        .catch((error) => {
          alert("Error inesperado, intente de nuevo mas tarde.");
        });
    },
  },
  created: function () {
    this.listUsers();
  },
};
</script>

<style>
body {
  background: #184652;
}
#telefono {
  width: 47%;
}
.detail_container {
  display: flex;
  margin: 35px 30px;
  align-items: center;
  justify-content: center;
  border-color: aliceblue;
}
.detail-title {
  text-align: center;
  margin: 5px 0px;
}

div {
  padding: 1px;
}

.avatar-container {
  display: flex;
  margin-top: 15%;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid #184652;
}
</style>
