<template>
  <div>
    <div class="header">
      <div class="iconIni" @click="verifyAuth">
        <img width="80" height="80" alt="Vue" src="./assets/logo_tv.png" />
      </div>

      <div class="search">
        <div>
          <input
            class="form-control mr-sm-2"
            id="search_bar"
            type="search"
            placeholder="Buscar"
            aria-label="Search"
          />
        </div>
        <div>
          <button id="search_btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </div>
      </div>

      <!--<div>
        <button v-if="is_auth" id="btn_header" v-on:click="profile">
          Perfil
        </button>
        <button v-if="is_auth" id="btn_header" v-on:click="logout">
          Cerrar sesión
        </button>
      </div>-->
      <div>
        <button v-if="is_auth" id="btn_header" v-on:click ="verifyAuth">Inicio</button>
        <button v-if="is_auth" id="btn_header" v-on:click="logout">Cerrar sesión</button>
        <button id="btn_header" v-if="is_auth" v-on:click="inf">Mi Perfil</button>
      </div>
    </div>

    <router-view
      v-on:completedLogIn="completedLogIn"
      v-on:loadSignUp="loadSignUp"
      v-on:completedSignUp="completedSignUp"
      v-on:completedelete="completedelete"
    >
    </router-view>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "App",
  data: function () {
    return {
      is_auth: false,
    };
  },
  methods: {
    completedelete: function(){
      localStorage.clear();
      this.verifyAuth();
    },
    inf: function () {
      let url = "https://on-line-shop-p52-g3.herokuapp.com/profile/";
      let token = localStorage.getItem("token");
      let config = { headers: { Authorization: "Token " + token } };
      axios.get(url, config)
        .then((result) => {
          console.log(result.data["id"]);
          localStorage.setItem("id", result.data["id"]);
          this.$router.push({ name: "userDetail" });
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("is_auth");
      if (this.is_auth) {
        this.$router.push({ name: "home" });
      } else {
        this.$router.push({ name: "logIn" });
      }
    },
    logout: function () {
      this.is_auth = false;
      this.$router.push({ name: "logIn" });
      localStorage.clear();
    },
    loadLogin: function () {
      this.$router.push({ name: "logIn" });
    },
    loadSignUp: function () {
      this.$router.push({ name: "signUp" });
    },
    completedLogIn: function (response) {
      this.$router.push({ name: "home" });
      localStorage.setItem("is_auth", true);
      localStorage.setItem("token", response.data.key);
      this.verifyAuth();
    },
    completedSignUp: function () {
      this.$router.push({ name: "home" });
      this.verifyAuth();
    },
    clickIcon: function () {
      alert("click");
    },
    profile: function () {
      this.$router.push({ name: "userDetail" });
    },
  },
  created: function () {
    this.verifyAuth();
    //this.loadLogin();///// corregir que cada que vuelvo a la cargar la página carga el login modificar funcion verify auth
  },
};
</script>

<style>
body {
  margin: 0px;
}

.header {
  background: #002b36;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
}

.iconIni:hover {
  cursor: pointer;
}

#btn_header {
  margin: 4px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

#search_bar {
  width: 400px;
}

#search_btn {
  background-color: transparent;
  border: none;
  color: white;
}
</style>
